/* WRAPPER
==========================================================*/
.wrapper {
    margin: 0 auto;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER AND NAVIGATION BAR
==========================================================*/
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
    color: #10659C;
}

header img {
    padding: 2rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    font-size: 135%;
}

nav li {
    padding: 1rem;
}

nav a {
    padding: .5rem;
    text-transform: uppercase;
    display: block;
    color: #333333;
    text-decoration: none;
}

nav a:hover {
    color: #10659C;
}

/* MAIN STYLING FOR ALL PAGES
==========================================================*/
main {
    padding: 3rem 1.5rem 3rem 1.5rem;
    background-color: #AAAAAA;
}

main h1 {
    color: white;
    background-color: #10659C;
    font-size: 250%;
    text-align: center;
    font-style: italic;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

main h2 {
    margin: 1rem;
    padding: 1rem;
    font-size: 200%;
    font-weight: bold;
    background-color: #EAEAEA;
    border-radius: 1rem;
    color: #333333;
}

main p {
    color: #333333;
}

main li {
    color: #333333;
    padding: .5rem;
}

main ul p {
    font-weight: bold;
}

/* FOOTER
==========================================================*/
footer {
    clear: both;
    text-align: center;
    background-color: #333333;
    color: #EAEAEA;
    padding: 1rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
}

footer a {
    padding: .5rem;
    text-transform: uppercase;
    color: #AAAAAA;
    text-decoration: none;
}

footer a:hover {
    color: #EAEAEA;
}

ion-icon {
    font-size: 40px
}

/* HOMEPAGE CONTENT
==========================================================*/
.page-content {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.content-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.content-row img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    padding: .5rem;
    margin: 1rem;
    background-color: #EAEAEA;
    border-radius: 1rem;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.350);
    transition: transform .75s ease-in-out;
}

.content-row img:hover {
    transform: scale(1.05)
}

.content-row p {
    margin: 1rem;
    text-align: left;
    font-size: 200%;
    line-height: 1.3;
}

.content-row a:link {
    color: #333333;
}

.content-row a:visited {
    color: #333333;
}

.content-row a:hover {
    color: #10659C;
}

.img-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
}

.img-gallery figcaption {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    color: #333333;
}

.img-gallery img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    padding: .5rem;
    margin: 1rem;
    background-color: #EAEAEA;
    border-radius: 1rem;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.350);
    transition: transform .75s ease-in-out;
}

.img-gallery img:hover {
    transform: scale(1.03);
}

/* SERVICES CONTENT
==========================================================*/
.content-row li {
    margin-left: 5rem;
    font-size: 175%;
    line-height: 1.6;
}

/* TERMS AND CONDITIONS CONTENT
==========================================================*/
.terms-conditions-content p {
    margin: 1rem;
    padding: 1rem;
    font-size: 150%;
    line-height: 1.5;
}

.terms-conditions-content h2 {
    margin: 1rem;
    padding: 1rem;
    font-size: 200%;
    font-weight: bold;
    background-color: #EAEAEA;
    border-radius: 1rem;
}

/* ABOUT US CONTENT
==========================================================*/
.img-gallery-about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
}

.img-gallery-about figcaption {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    color: #333333;
}

.img-gallery-about img {
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    padding: .5rem;
    margin: 1rem;
    background-color: #EAEAEA;
    border-radius: 1rem;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.350);
    transition: transform .75s ease-in-out;
}

.img-gallery-about img:hover {
    transform: scale(1.03);
}

/* RESPONSIVE DESIGN - TABLET DISPLAYS
==========================================================*/
@media (max-width: 768px) {
   header img {
        padding: 4rem;
    }

    nav ul {
        font-size: 115%;
    }

    .content-row p {
        font-size: 140%;
        line-height: 1.3;
    }

    .content-row img {
        width: 15rem;
        height: 15rem;
    }

    .img-gallery img {
        width: 15rem;
        height: 15rem;
    }

    .img-gallery-about img {
        width: 18rem;
        height: 25rem;
    }

    .terms-conditions-content p {
        font-size: 140%;
        line-height: 1.4;
    }

    .content-row li {
        font-size: 140%;
        line-height: 1.4;
    }

    .content-row .services-img {
        display: none;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        font-size: 115%;
    }

    footer li {
        padding: 1rem;
    }

    ion-icon {
        font-size: 40px;
    }
}

/* RESPONSIVE DESIGN - PHONE DISPLAYS
==========================================================*/
@media (max-width: 480px) {
    header img {
        padding: .5rem;
        width: 14rem;
        height: 14rem;
        object-fit: contain;
    }

    nav ul {
        font-size: 115%;
    }

    main h1 {
        font-size: 175%;
    }

    main h2 {
        font-size: 125%;
    }

    .content-row p {
        font-size: 130%;
        line-height: 1.3;
    }

    .content-row img {
        display: none;
    }

    .img-gallery img {
        width: 15rem;
        height: 15rem;
    }

    .img-gallery-about img {
        width: 15rem;
        height: 20rem;
    }

    .terms-conditions-content p {
        font-size: 120%;
        line-height: 1.3;
    }

    .terms-conditions-content h2 {
        font-size: 125%;
    }

    .content-row li {
        font-size: 130%;
        line-height: 1.3;
    }

    .content-row .services-img {
        display: none;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        font-size: 100%;
    }

    footer li {
        padding: 1rem;
    }

    ion-icon {
        font-size: 40px;
    }
}